*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;


}

.choice{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid ;
    
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    align-items: center;
 

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 3rem;
    
}



.choice:hover{
    opacity: 50%;
    cursor: pointer;
    background-color: black;
    
}


.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#userscore,#compscore{
    font-size: 4rem;
}


.msgcontainer{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;



   
    
}



